infra/logic-app.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "logic-mace-style-validator",
      "metadata": { "description": "Name of the Logic App" }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Azure region" }
    },
    "functionAppUrl": {
      "type": "string",
      "metadata": { "description": "Base URL of the Azure Function App (e.g. https://func-mace-validator-dev-xxx.azurewebsites.net)" }
    },
    "functionAppKey": {
      "type": "securestring",
      "metadata": { "description": "Function App host key for authentication" }
    },
    "sharepointSiteUrl": {
      "type": "string",
      "metadata": { "description": "SharePoint site URL (e.g. https://macegroup.sharepoint.com/sites/StyleValidation)" }
    },
    "sharepointDocLibraryId": {
      "type": "string",
      "metadata": { "description": "GUID of the SharePoint Document Library list" }
    },
    "sharepointConnectionName": {
      "type": "string",
      "defaultValue": "sharepointonline",
      "metadata": { "description": "Name of the SharePoint API connection" }
    }
  },
  "variables": {
    "sharepointConnectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointConnectionName'))]",
    "sharepointConnectionApiId": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'sharepointonline')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sharepointConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "SharePoint - Style Validation",
        "api": {
          "id": "[variables('sharepointConnectionApiId')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[variables('sharepointConnectionId')]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "functionAppUrl": {
              "type": "String",
              "defaultValue": ""
            },
            "functionAppKey": {
              "type": "SecureString",
              "defaultValue": ""
            },
            "sharepointSiteUrl": {
              "type": "String",
              "defaultValue": ""
            },
            "sharepointDocLibraryId": {
              "type": "String",
              "defaultValue": ""
            }
          },
          "triggers": {
            "When_a_file_is_created_or_modified_(properties_only)": {
              "type": "ApiConnection",
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              },
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/onupdateditems",
                "queries": {
                  "folderPath": "/",
                  "includeSubfolders": true
                }
              },
              "splitOn": "@triggerBody()?['value']"
            }
          },
          "actions": {
            "Initialize_RequestBody": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "RequestBody",
                    "type": "string",
                    "value": ""
                  }
                ]
              },
              "runAfter": {}
            },
            "Check_file_is_supported": {
              "type": "If",
              "expression": {
                "or": [
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".docx"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".doc"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".docm"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".dotx"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".dotm"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".xlsx"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".xls"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".xlsm"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".pptx"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".ppt"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".pptm"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".potx"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".potm"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".vsdx"] },
                  { "endsWith": ["@triggerBody()?['{FilenameWithExtension}']", ".vsd"] }
                ]
              },
              "runAfter": {
                "Initialize_RequestBody": ["Succeeded"]
              },
              "actions": {
                "Scope_-_Validate_Document": {
                  "type": "Scope",
                  "actions": {
                    "Update_file_properties_-_Validating": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "patch",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/items/@{triggerBody()?['ID']}",
                        "body": {
                          "ValidationStatus": {
                            "Value": "Validating..."
                          }
                        }
                      },
                      "runAfter": {}
                    },
                    "Get_file_properties": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/items/@{triggerBody()?['ID']}"
                      },
                      "runAfter": {
                        "Update_file_properties_-_Validating": ["Succeeded"]
                      }
                    },
                    "Get_file_content": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/items/@{triggerBody()?['ID']}/attachments/@{triggerBody()?['{FilenameWithExtension}']}/content"
                      },
                      "runAfter": {
                        "Get_file_properties": ["Succeeded"]
                      }
                    },
                    "Encode_File_Content": {
                      "type": "Compose",
                      "inputs": "@base64(body('Get_file_content'))",
                      "runAfter": {
                        "Get_file_content": ["Succeeded"]
                      }
                    },
                    "Build_Request_Body": {
                      "type": "Compose",
                      "inputs": {
                        "itemId": "@{triggerBody()?['ID']}",
                        "fileName": "@{triggerBody()?['{FilenameWithExtension}']}",
                        "fileContent": "@{outputs('Encode_File_Content')}",
                        "fileUrl": "@{body('Get_file_properties')?['{Path}']}"
                      },
                      "runAfter": {
                        "Encode_File_Content": ["Succeeded"]
                      }
                    },
                    "Set_RequestBody": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "RequestBody",
                        "value": "@{string(outputs('Build_Request_Body'))}"
                      },
                      "runAfter": {
                        "Build_Request_Body": ["Succeeded"]
                      }
                    },
                    "Call_Validation_Function": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "@{parameters('functionAppUrl')}/api/ValidateDocument",
                        "headers": {
                          "Content-Type": "application/json",
                          "x-functions-key": "@{parameters('functionAppKey')}"
                        },
                        "body": "@json(variables('RequestBody'))",
                        "retryPolicy": {
                          "type": "none"
                        }
                      },
                      "runAfter": {
                        "Set_RequestBody": ["Succeeded"]
                      },
                      "limit": {
                        "timeout": "PT10M"
                      }
                    },
                    "Parse_Response": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Call_Validation_Function')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "status": { "type": "string" },
                            "description": { "type": "string" },
                            "issuesFound": { "type": "integer" },
                            "issuesFixed": { "type": "integer" },
                            "reportUrl": { "type": ["string", "null"] },
                            "validationResultUrl": { "type": ["string", "null"] },
                            "reportLink": {
                              "type": ["object", "null"],
                              "properties": {
                                "Description": { "type": "string" },
                                "Url": { "type": "string" }
                              }
                            },
                            "validationResultLink": {
                              "type": ["object", "null"],
                              "properties": {
                                "Description": { "type": "string" },
                                "Url": { "type": "string" }
                              }
                            },
                            "fixedFileContent": { "type": ["string", "null"] }
                          }
                        }
                      },
                      "runAfter": {
                        "Call_Validation_Function": ["Succeeded"]
                      }
                    },
                    "Check_if_fixes_applied": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "greater": ["@body('Parse_Response')?['issuesFixed']", 0]
                          },
                          {
                            "not": {
                              "equals": ["@body('Parse_Response')?['fixedFileContent']", null]
                            }
                          }
                        ]
                      },
                      "runAfter": {
                        "Parse_Response": ["Succeeded"]
                      },
                      "actions": {
                        "Update_file_with_fixes": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                              }
                            },
                            "method": "put",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/items/@{triggerBody()?['ID']}/attachments/@{triggerBody()?['{FilenameWithExtension}']}",
                            "body": "@base64ToBinary(body('Parse_Response')?['fixedFileContent'])"
                          },
                          "runAfter": {}
                        },
                        "Update_file_properties_-_Final_with_fixes": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                              }
                            },
                            "method": "patch",
                            "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/items/@{triggerBody()?['ID']}",
                            "body": {
                              "ValidationStatus": {
                                "Value": "@body('Parse_Response')?['status']"
                              },
                              "Description": "@body('Parse_Response')?['description']",
                              "ValidationReport": "@body('Parse_Response')?['reportUrl']",
                              "ValidationResultLink": "@body('Parse_Response')?['validationResultUrl']",
                              "LastValidated": "@utcNow()"
                            }
                          },
                          "runAfter": {
                            "Update_file_with_fixes": ["Succeeded"]
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Update_file_properties_-_Final_no_fixes": {
                            "type": "ApiConnection",
                            "inputs": {
                              "host": {
                                "connection": {
                                  "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                }
                              },
                              "method": "patch",
                              "path": "/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sharepointSiteUrl')))}/tables/@{encodeURIComponent(encodeURIComponent(parameters('sharepointDocLibraryId')))}/items/@{triggerBody()?['ID']}",
                              "body": {
                                "ValidationStatus": {
                                  "Value": "@body('Parse_Response')?['status']"
                                },
                                "Description": "@body('Parse_Response')?['description']",
                                "ValidationReport": "@body('Parse_Response')?['reportUrl']",
                                "ValidationResultLink": "@body('Parse_Response')?['validationResultUrl']",
                                "LastValidated": "@utcNow()"
                              }
                            },
                            "runAfter": {}
                          }
                        }
                      }
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sharepointonline": {
                "connectionId": "[variables('sharepointConnectionId')]",
                "connectionName": "[parameters('sharepointConnectionName')]",
                "id": "[variables('sharepointConnectionApiId')]"
              }
            }
          },
          "functionAppUrl": {
            "value": "[parameters('functionAppUrl')]"
          },
          "functionAppKey": {
            "value": "[parameters('functionAppKey')]"
          },
          "sharepointSiteUrl": {
            "value": "[parameters('sharepointSiteUrl')]"
          },
          "sharepointDocLibraryId": {
            "value": "[parameters('sharepointDocLibraryId')]"
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    }
  }
}
